body {
    font-family: arial, sans-serif;
	align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
    height: auto;
}

.search {
    width: 584px;
    margin: 0 auto;
    border-radius: 30px;
	display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    margin-top: 25px;
}

.search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
} 

 .search > i {
    font-size: 20px;
    margin-left: 10px;
    color: #9aa0a6;
} 

 .search > input{    
    flex: 1;       
	height: 46px;
	border: none;
    outline: none;
    border-radius: 30px;
    font-size: 18px;
    background-color: #fff;
} 

 .nav {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
} 

.nav a {
    display: inline-block;
    color: #000;
    opacity: 0.75;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.nav a:hover {
    opacity: .85;
    text-decoration: underline;
} 

 .nav-right {
    float: right;
}  

.grid {
    height: 14px;
    width: 14px;
    position: absolute;
    opacity: .55;
    float: right;
    margin: 1 auto;
    margin-top: -108px;
    margin-left: -15px;
}

.grid:hover {
    opacity: .85;
} 

.Sign-in {
  background-color: #4285f4; 
  border: 1px solid #4285f4;
  color: white;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 28px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;  
} 

.center-buttons {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    padding-top: 18px;
    display: flex;
    justify-content: center;
}

#search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

#search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#lucky-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

#lucky-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}


.footer {
    position:fixed;
    left: 0px;
    bottom:0;
    width:100%;
    line-height: 15px;
    background: #f2f2f2;
    border-top: 1px solid #dadce0;
  }

.footer a {
    text-decoration: none;
    color: #70757a;
    display: inline-block;
    padding: 12px 14px;
    overflow: hidden;
    font-size: 14px;
}  

.footer a:hover {
    opacity: .85;
    text-decoration: underline;
}  

.leftfooter {
    margin-left: 30px;
    min-width: 30%;
    text-align: left;
}

.rightfooter {
    float: right;
    margin-right: 30px;
    min-width: 30%;
    text-align: right;
}  

